/* ==================== Portfolio section start css ================================ */
.Portfolio_add-project {
    display: flex;
    align-items: start;
    margin: 0 -14px;
    flex-wrap: wrap;
}
.Portfolio_Tabs.flex {
    justify-content: center;
    margin-bottom: 60px;
}
.Portfolio .tabs {
    font-family: 'Karla';
    padding: 7px 11px;
    font-size: 15px;
    font-weight: 500;
    opacity: .30;
    color: #999;
    transition: all ease-in-out 0.2s;
    letter-spacing:1.3px;
}
.Portfolio .tabs:hover {
    color: #000;
}
.Portfolio .main-wrap {
    padding-block: 50px 130px;
    max-width: 1000px;
    margin: 0 auto;
}
.Portfolio .tabs.active{
    border: 2px solid #222;
    color: #000;
    opacity: 1;
}
.project .icon  {
    max-width: 40px;
}
.Portfolio .project_wrap {
    max-width: 33.33%;
    flex: 33.33%;
    padding: 0 14px;
}
.Portfolio .project {
    position: relative;
}
.Portfolio .icon-block {
    width: 55px;
    height: 55px;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    position: absolute;
    top: -25px;
    right: 25px;
}
.Portfolio .sub-content {
    padding: 31px 21px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.Portfolio .project_title {
    font-family: 'Coustard';
    font-size: 24px;
    color: #222;
    font-weight: 400;
    margin-bottom: 8px;
}
.Portfolio p.project_para {
    font-size: 11px;
    font-family: 'Karla';
    color: #bbb;
    text-transform: uppercase;
    line-height: 1.2;
    letter-spacing: 2.3px;
    display: inline;
}
/* ====================== Portfolio section End css ============== */
/* ============ media screen  section start css ================== */
@media screen and (max-width:990px){
    .Portfolio .project_wrap {
        max-width: 50%;
        flex: 50%;
    }
    .Portfolio .tabs {
        font-size: 12px;
    }
    .Portfolio .project_title {
        font-family: 'Coustard';
        font-size: 18px;
    }
}
@media screen and (max-width:990px){
    .Portfolio .icon-block {
        width: 50px;
        height: 50px;
    }
}
@media screen and (max-width:767px){
    .Portfolio .project_wrap {
        max-width: 100%;
        flex: 100%;
    }
    .Portfolio_Tabs.flex {
        margin-bottom: 50px;
    }
    .Portfolio .main-wrap {
        padding-block: 50px 80px;
    }
}
/* =============media screen  section end css ========== */
